<div class="row">
  <div class="col-12">
    <h1>My posts</h1>
  </div>
</div>
<div class="row" id="posts">
  <div class="col-12">
    <table *ngIf="postService.posts()?.status == 'OK'" class="table table-striped table-dark">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of this.postService.posts()?.value; trackBy: postById; index as index;">
        <th scope="row">{{index}}</th>
        <td>{{post.title}}</td>
      </tr>
      </tbody>
    </table>
    <div class="alert alert-danger" *ngIf="postService.posts()?.status == 'ERROR'" role="alert">
      {{ postService.posts()?.error.message }}
    </div>
  </div>
</div>
